/*-----------------------------fonts*/
@font-face {
    font-family: eicons;
    src: url(../fonts/eicons.woff2);
}

@font-face {
    font-family: fa-brands-400;
    src: url(../fonts/fa-brands-400.woff2);
}

@font-face {
    font-family: fa-light-300;
    src: url(../fonts/fa-light-300.woff2);
}

@font-face {
    font-family: fa-regular-400;
    src: url(../fonts/fa-regular-400.woff2);
}

@font-face {
    font-family: fa-solid-900;
    src: url(../fonts/fa-solid-900.woff2);
}

@font-face {
    font-family: yekan-bakh-regular;
    src: url(../fonts/Yekan-Bakh-Fa-En-04-Regular.woff);
}

@font-face {
    font-family: yekan-bakh-medium;
    src: url(../fonts/Yekan-Bakh-Fa-En-05-Medium.woff);
}

@font-face {
    font-family: yekan-bakh-bold;
    src: url(../fonts/Yekan-Bakh-Fa-En-06-Bold.woff);
}

@font-face {
    font-family: yekan-bakh-heavy;
    src: url(../fonts/Yekan-Bakh-Fa-En-07-Heavy.woff);
}

@font-face {
    font-family: yekan-bakh-fat;
    src: url(../fonts/Yekan-Bakh-Fa-En-08-Fat.woff);
}

/*-----------------------------fonts*/

body{
    direction: rtl;
    background-color: #002855;
    color: white;
    font-family: yekan-bakh-regular;
    margin: 0;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

input:focus{
    outline: none;
}

button{
    font-family: yekan-bakh-regular;
    cursor: pointer;
}

/*------------------------------------Login*/

.login-main-div{
    background-color: #023e7d;
    border-radius: 8px;
    text-align: center;
    width: 450px;
    margin: 25vh auto 0;
}

.login-main-div .login-title-container img{
    margin-top: 20px;
    width: 100px;
}

.login-main-div .login-title-container h2{
    margin: 10px 0;
}

.login-main-div .text-boxs-container input{
    direction: ltr;
    border: none;
    background-color: #002855;
    font-size: 20px;
    color : white;
    padding: 7px;
    margin-right: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.login-main-div .text-boxs-container span{
    display: block;
    margin: 4px;
}

.login-main-div .text-boxs-container h4{
    color: red;
}

.login-main-div button{
    background-color: #0466c8;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px 30px;
    margin-bottom: 20px;
}
.login-main-div button:active{
    background-color: #0353a4;
}


.header-main-div{
    background-color: #0353a4;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    cursor: default;
}

.header-main-div h3{
    display: inline-block;
}

.header-main-div span{
    font-size: 20px;
    font-family: yekan-bakh-bold;
}

.header-main-div h3,.header-main-div span{
    position: relative;
    top: -20px;
}

.header-main-div img{
    width: 50px;
    margin: 10px 470px 0;
}
.main-container{
    width: 1200px;
    margin: 20px auto;
}

.add-new-order-btn{
    background-color: #0353a4;
    border: none;
    color: white;
    padding: 10px 80px;
    border-radius: 10px;
    font-size: 20px;
    font-family: yekan-bakh-bold;
    margin-top: 15px;
}

.add-new-order-btn:hover{
    background-color: #023e7d;
}

.add-order-state-main-div{
    z-index: 900;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: -20px;
    background-color: rgba(255,255,255,.01);
    backdrop-filter: blur(4px);
}
.add-order-state-main-div-upper{
    z-index: 901;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.add-order-state-main-div-upper .add-order-div{
    background-color: #0466c8;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
}

.add-order-state-main-div-upper .add-order-div h2,.add-order-state-main-div-upper .add-order-div h3{
    text-align: center;
    margin: 10px 0;
}

.add-order-state-main-div-upper .add-order-div label{
    margin: 10px 0;
    display: inline-block;
}

.add-order-state-main-div-upper .add-order-div select,
.add-order-state-main-div-upper .add-order-div #LisencePlate,
.add-order-state-main-div-upper .add-order-div #ownerName,
.add-order-state-main-div-upper .add-order-div #ownerLastName,
.add-order-state-main-div-upper .add-order-div #ownerPhoneNumber{
   display: inline-block;
   float: left;
   position: relative;
   top: 10px;
}
.add-order-state-main-div-upper .add-order-div #ownerPhoneNumber,
.add-order-state-main-div-upper .add-order-div #LisencePlate{
    direction: ltr;
}

.add-order-state-main-div-upper .add-order-div button{
    margin-top: 20px;
    width: 48%;
    margin-right: 5px;
    padding: 5px 0;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    
    color: white;
}
.add-order-state-main-div-upper .add-order-div .submit-btn{
    background-color: #031b36;
}

.add-order-state-main-div-upper .add-order-div .cancel-btn{
    background-color: #0080ff;
}
.add-order-state-main-div-upper .add-order-div input{
    background-color: #002855;
    border: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-family: yekan-bakh-regular;
}

.add-order-state-main-div-upper .add-order-div .detail-input{
   width: 97%;
}
.add-order-state-main-div-upper .add-order-div input[type='checkbox']{ 
    position: relative;
    top: 3px;
}
.add-order-state-main-div-upper .add-order-div input[type='checkbox']:checked{
    accent-color:  #031b36;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 200px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0353a4; 
  border-radius: 200px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #031b36; 
  border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #020f1d; 
}

.last-order-list-main-div{
    background-color: #0353a4;
    width: 875px;
    height: 500px;
    border-radius: 10px;
    display: inline-block;
    float: left;
    margin-top: 15px;
    overflow-x: hidden;
}

.order-card-main-div{
    background-color: #021020;
    width: 97%;
    margin: 15px auto;
    border-radius: 10px;
    cursor: pointer;
}

.order-card-main-div .image-container,.order-card-main-div .datas-container{
    display: inline-block;
}

.order-card-main-div .image-container {
    width: 20%;
}

.order-card-main-div .datas-container{
    float: left;
    width: 80%;
}

.order-card-main-div .datas-container .title h2{
    font-size: 25px;
    display: inline-block;
    margin-top: 15px;
}

.order-card-main-div .datas-container .describe{
    display: inline-block;
}

.order-card-main-div .datas-container .start-time{
    float: left;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: -30px;
}

.order-status{
    display: inline-block;
    float: left;
    position: relative;
    left: -160px;
}

.order-status .end{
    color: green;
}

.order-status .working{
    color: red;
}

.admin-financial-report-main-div{
    background-color: #0353a4;
    border-radius: 10px;
    width: 312px;
    margin-top: 15px;
    text-align: center;
    padding: 15px 0;
}

.admin-financial-report-main-div h4{
    display: inline-block;
}

.admin-financial-report-main-div span{
    font-size: 20px;
}

.admin-financial-report-main-div span::after{
    content: ' تومان';
}

.line{
    background-color: #002855;
    width: 90%;
    height: 1px;
    margin: 10px auto;
}

.admin-service-count-report-main-div{
    background-color: #0353a4;
    border-radius: 10px;
    width: 312px;
    margin-top: 15px;
    text-align: center;
    padding: 15px 0;
}
.admin-service-count-report-main-div .count{
    float: left;
    margin-left: 5px;
}
.admin-service-count-report-main-div .autoservice-count,
.admin-service-count-report-main-div .enginegearbox-count,
.admin-service-count-report-main-div .detailing-count,
.admin-service-count-report-main-div .ohters-count,
.admin-service-count-report-main-div .fronting-count
{
    width: 90%;
    margin: 0 auto;
    text-align: right;
}

.admin-most-car-order-report{
    background-color: #0353a4;
    border-radius: 10px;
    width: 1200px;
    margin-top: 15px;
    float: left;
    text-align: center;
    padding-top: 15px;
}

.cars-card-main-div{
    background-color: #021020;
    border-radius: 10px;
    display: inline-block;
    padding: 15px;
    margin: 0 10px;
    margin-bottom: 15px;
}
.cars-card-main-div .image{
    width: 200px;
    display: inline-block;
}
.cars-card-main-div .end-date{
    text-align: right;
    width: 95%;
    margin: 0 auto;
}

.cars-card-main-div .end-date .end-date-time{
    float: left;
}
.upco-btn-main-div{
    float: right;
    width: 312px;
    /* background-color: red; */
     background: linear-gradient(
    344deg,
    black 0%,
    black 50%,
    red 50%,
    Red 100%
  );
    border-radius: 10px;
    height: 98px;
    margin-top: 15px;
    cursor: pointer;
}
.upco-btn-main-div img{
    width: 60px;
    display: block;
    margin: 17px auto 0 auto;
}
/*
#0466c8
#0353a4
#023e7d
#002855
*/